<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<th:block th:fragment="cards-gallery">
	   <section class="gallery-block cards-gallery">
		    <div class="container">
		        <div class="heading">
		          <h2>Image Gallery</h2>
		        </div>
		        <div class="row">
		            <div th:each="resource : ${log.resources}" class="col-md-6 col-lg-4">
		                <div class="card border-0 transform-on-hover">
		                	<a class="lightbox" href="#">
		                		<img th:src="@{/upload/files/} + ${resource.path}" alt="Card Image" class="card-img-top">
		                	</a>
		                    <div class="card-body">
		                        <h6 class="card-title" th:text="${resource.name}"></h6>
		                        <p class="text-muted card-text" th:text="${resource.description}"></p>
		                        <a th:href="@{/diet/log/event/img/delete/__${resource.id}__/__${resource.name}__}" class="btn btn-outline-danger btn-sm float-right" th:text="#{btn.delete}"></a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    </section>
	 </th:block>
</body>
</html>