<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head-include :: head-include"></head>

<body>
	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>
	<div class="container-fluid">
	
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/diet/log/events}" th:text="#{topmenu.log}"></a></li>
				<li class="breadcrumb-item active" aria-current="page" th:text="#{lbl.event}"></li>
			</ol>
		</nav>
	
		<div class="card">
			<div class="card-header clearfix">
				<div th:if="${log.id} != null" class="float-right">
					<span th:if="${#authentication.name == log.createdByUser}"> 
						<a th:href="@{/upload/} + ${log.id}" class="oi oi-data-transfer-upload"></a> 
						<a th:href="@{/diet/log/event/edit/} + ${log.id}" class="oi oi-pencil"></a>
						<a th:href="@{/diet/log/event/delete/} + ${log.id}" class="oi oi-trash"></a>
					</span> 
					<span th:if="${#authentication.name != log.createdByUser}"> 
						<a th:href="@{/upload/} + ${log.id}" class="oi oi-data-transfer-upload"></a> 
						<a th:href="@{/diet/log/event/edit/} + ${log.id}" class="btn btn-secondary btn-sm disabled"><i class="oi oi-pencil"></i></a> 
						<a th:href="@{/diet/log/event/delete/} + ${log.id}" class="btn btn-secondary btn-sm disabled"><i class="oi oi-trash"></i></a>
					</span>
				</div>
				<h3 class="card-title">
					<span th:text="${#dates.format(log.createdDate, &apos;EEEE dd.MM.yy&apos;) + &apos; &apos; + #dates.format(log.createdDate, &apos;HH:mm&apos;)}" class="badge badge-dark"></span> 
					<span th:if="${log.level == &apos;INFO&apos;}" class="badge badge-info" th:text="${log.level}"></span> 
					<span th:if="${log.level == &apos;ACTIVITY&apos;}" class="badge badge-success" th:text="${log.level}"></span> 
					<span th:if="${log.level == &apos;REPORT&apos;}" class="badge badge-warning" th:text="${log.level}"></span> 
					<span th:if="${log.level == &apos;CONFLICT&apos;}" class="badge badge-danger" th:text="${log.level}"></span>
					<span th:text="${log.title}"></span>
				</h3>
			</div>
			<!-- end panel header -->
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item list-group-item-success" style="margin: 0px 0px 10px 0px;">
						<h6>
							<small class="text-muted" th:inline="text">[[#{lbl.created_date}]] [[${#dates.format(log.createdDate, &apos;EEEE dd.MM.yyyy HH:mm:ss&apos;)}]] [[#{lbl.by}]] [[${log.createdByUser}]]</small>
						</h6>
						<p class="text-left" th:text="${log.contentHtml}"></p>
					</li>
					<th:block th:if="${!log.logComments.isEmpty()}" th:each="comment : ${log.logComments}">
						<li class="list-group-item list-group-item-info" style="margin: 0px 0px 10px 25px;">
							<h6>
								<small class="text-muted" th:inline="text">[[#{lbl.created_date}]] [[${#dates.format(comment.createdDate, &apos;EEEE dd.MM.yyyy HH:mm:ss&apos;)}]] [[#{lbl.by}]] [[${comment.createdByUser}]]</small>
							</h6>
							<p class="text-left" th:text="${comment.content}"></p>
						</li>
					</th:block>
				</ul>
			</div>
			
			<!-- add comment -->
			<form method="POST" th:action="@{/diet/log/event/comment/add}" >
					<input type="hidden" name="logId" id="logId" th:value="${log.id}" />
					<div class="form-group">
						<label for="comment" th:text="#{lbl.comment}"></label>
						<textarea th:required="required" class="form-control" id="logCommentMsgInputId" name="comment" th:value="*{comment}" ></textarea>
					</div>
					<div class="form-group float-right">
						<button type="submit" class="btn btn-primary btn-sm" th:text="#{btn.add}"></button>
						<a th:href="@{/diet/log/events}" class="btn btn-outline-secondary btn-sm"><span th:text="#{btn.cancel}"></span></a>
					</div>
			</form>
			
			<p></p>
			
			<!-- view images -->
			<div th:each="resource : ${log.resources}" class="row">
				<div class="col-lg-4">
					<div class="thumbnail">
						<img th:src="@{/upload/files/} + ${resource.path}" style="width: 100%; height: 100%">
						<div class="caption">
							<p th:text="${resource.path}"></p>
						</div>
					</div>
				</div>
			</div>
			<!-- end panel body -->
			<div class="card-footer clearfix">
				<div class="float-right">
					<a th:href="@{/diet/log/events}" class="btn btn-primary btn-sm"><span th:text="#{btn.back}"></span></a>
				</div>
			</div>
			<!-- end panel footer -->
		</div>
		<!-- end panel -->
	</div>
	<!-- end container -->
	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>