<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head-include :: head-include"></head>

<body>
	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>
	<div class="container-fluid">
		<div class="bg-light mt-2 mb-2">
			<div class="clearfix ml-2 mr-2">
				<h3 class="float-sm-left align-baseline" th:text="#{eventlog.title}"></h3>
 		    	<a th:href="@{/diet/log/event/new}" class="btn btn-primary btn-sm float-sm-right ml-1 align-baseline" th:text="#{eventlog.btn.new_log}" role="button"></a> 
				<a th:href="@{/diet/log/events/txt}" class="btn btn-primary btn-sm float-sm-right" th:text="#{eventlog.btn.view_plain}" role="button"></a>
			</div>
		</div>
			
		<div class="mb-2 ml-2 mr-2">
				<label for="txtSearchPage" class="sr-only" th:text="#{eventlog.lbl.filter_log}"></label> 
				<input id="txtSearchPage" type="text" class="form-control" th:placeholder="#{eventlog.lbl.filter_log}">
		</div>
		<div class="float-right mb-2">
				<table class="boarderless">
					<tr>
						<td style="text-align: right;"><span th:text="#{lbl.period}"></span>: <span th:text="${#dates.format(logsFromDate, &apos;dd-MM-yyyy&apos;)}"></span>
							- <span th:text="${#dates.format(logsToDate, &apos;dd-MM-yyyy&apos;)}"></span></td>
					</tr>
					<tr>
						<td style="text-align: right;">Log <span class="badge badge-pill badge-info" th:text="${page.size * (page.number-1) + 1}"></span> to <span
							class="badge badge-pill badge-info" th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1) + page.size}"></span>of <span
							class="badge badge-pill badge-info" th:text="${page.totalElements}"></span> logs
						</td>
					</tr>
				</table>
		</div>
		<div class="clearfix"></div>
		</div>
		<!-- End page header -->
		<div class="list panel-group ml-2 mr-2" id="accordion">
			<div th:each="log, iter : ${page.content}">
				<div th:if="${log.level != &apos;ALL&apos;}" id="panel-child" class="card mb-2">
					<div class="card-header">
						<h5 class="card-title" th:with="logWeekDay=${#dates.dayOfWeekNameShort(log.createdDate)}, logDate=${#dates.format(log.createdDate, &apos;EEEE dd.MM.yy&apos;)}, logTime=${#dates.format(log.createdDate, &apos;HH:mm&apos;)}">
								<span th:switch="${#dates.dayOfWeekName(log.createdDate)}"> <span th:case="&apos;Mandag&apos;" class="badge badge-dark"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span> <span th:case="&apos;Tirsdag&apos;" class="badge badge-primary"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span> <span th:case="&apos;Onsdag&apos;" class="badge badge-success"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span> <span th:case="&apos;Torsdag&apos;" class="badge badge-info"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span> <span th:case="&apos;Fredag&apos;" class="badge badge-warning"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span> <span th:case="&apos;L&#xF8;rdag&apos;" class="badge badge-white"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span> <span th:case="&apos;S&#xF8;ndag&apos;" class="badge badge-purple"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span> <span th:case="&apos;Monday&apos;" class="badge badge-dark"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span> <span th:case="&apos;Tuesday&apos;" class="badge badge-primary"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span> <span th:case="&apos;Wednesday&apos;" class="badge badge-success"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span> <span th:case="&apos;Thursday&apos;" class="badge badge-info"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span> <span th:case="&apos;Friday&apos;" class="badge badge-warning"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span> <span th:case="&apos;Saturday&apos;" class="badge badge-white"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span> <span th:case="&apos;Sunday&apos;" class="badge badge-purple"
									th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
							</span> 
								<span th:switch="${log.level}"> <span th:case="&apos;INFO&apos;" th:text="${log.level}" class="badge badge-info"></span> 
								<span th:case="&apos;ACTIVITY&apos;" th:text="${log.level}" class="badge badge-success"></span> 
								<span th:case="&apos;REPORT&apos;" th:text="${log.level}" class="badge badge-warning"></span> 
								<span th:case="&apos;CONFLICT&apos;" th:text="${log.level}" class="badge badge-danger"></span> 
								<span th:case="&apos;GAMING&apos;" th:text="${log.level}" class="badge badge-dark"></span>
							</span> 
							<span> 
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" th:href="@{&apos;#collapse_&apos; + ${iter.index}}" th:text="${log.title}"></a>
							</span>
						</h5>
					</div>
					<!-- panel header -->
					<div th:id="&apos;#collapse_&apos; + ${iter.index}" class="panel-collapse collapse show">
						<div class="card-body" th:utext="${log.contentHtml}"></div>
						<div class="card-footer clearfix card-footer-sm">
							<div class="float-left">
								<small><span th:text="#{lbl.created_by} + &apos; &apos; + ${log.createdByUser}"></span></small>
							</div>
							<div class="float-right">
								<a th:if="${log.numberOfComments} == 0" th:href="@{/diet/log/event/view/} + ${log.id}" class="btn btn-secondary btn-sm"><small th:text="#{eventlog.btn.add_comment}"></small></a> 
								<a th:if="${log.numberOfComments} &gt; 0" th:href="@{/diet/log/event/view/} + ${log.id}" class="btn btn-secondary btn-sm"><small th:text="#{eventlog.btn.view_comments} + &apos; (&apos; + ${log.numberOfComments} + &apos;)&apos;"></small></a> 
								<span th:if="${#authentication.name == log.createdByUser}"> 
									<a th:href="@{/diet/log/event/edit/} + ${log.id}" class="btn btn-secondary btn-sm"><i class="oi oi-pencil"></i></a> 
									<a th:href="@{/diet/log/event/delete/} + ${log.id}" class="btn btn-secondary btn-sm"><i class="oi oi-trash"></i></a>
								</span> 
								<span th:if="${#authentication.name != log.createdByUser}"> 
									<a th:href="@{/diet/log/event/edit/} + ${log.id}" class="btn btn-secondary btn-sm disabled"><i class="oi oi-pencil"></i></a> 
									<a th:href="@{/diet/log/event/delete/} + ${log.id}" class="btn btn-secondary btn-sm disabled"><i class="oi oi-trash"></i> </a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end each -->
		</div>
		<!-- end panel group -->
		<div class="col-md-7">
			<!-- Pagination Bar -->
			<div th:fragment="paginationbar">
				<div class="text-center">
					<ul class="pagination justify-content-center">
						<li th:class="${page.firstPage} ? &apos;disabled&apos;:&apos;&apos;" class="page-item">
							<span th:if="${page.firstPage}">First</span> 
							<a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size})}" class="page-link">First</a>
						</li>
						<li th:class="${page.hasPreviousPage} ? &apos;&apos; : &apos;disabled&apos;" class="page-item">
							<span th:if="${not page.hasPreviousPage}" aria-hidden="true">&#xAB;</span> 
							<a th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page=${page.number-2},size=${page.size})}" title="Go to previous page" class="page-link">&#xAB;</a>
						</li>
						<li th:each="item : ${page.items}" th:class="${item.current}? &apos;active&apos; : &apos;&apos;" class="page-item">
							<span th:if="${item.current}" th:text="${item.number}">1</span> 
							<a th:if="${not item.current}" th:href="@{${page.url}(page=${item.number-1},size=${page.size})}" class="page-link"><span th:text="${item.number}">1</span></a>
						</li>
						<li th:class="${page.hasNextPage} ? &apos;&apos; : &apos;disabled&apos;" class="page-item">
							<span th:if="${not page.hasNextPage}">&#xBB;</span>
							<a th:if="${page.hasNextPage}" th:href="@{${page.url}(page=${page.number},size=${page.size})}" title="Go to next page" class="page-link">&#xBB;</a>
							</li>
						<li th:class="${page.lastPage} ? &apos;disabled&apos; : &apos;&apos;" class="page-item">
							<span th:if="${page.lastPage}">Last</span> 
							<a th:if="${not page.lastPage}" th:href="@{${page.url}(page=${page.totalPages - 1},size=${page.size})}" class="page-link">Last</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end container -->
	<div th:replace="fragments/footer :: footer"></div>
	<!-- Put java script at end of document -->
</body>

</html>